/* -------------- CABECERA -------------- */

.header {
  position: sticky;
  top: 0;

  z-index: 2;
}


.header__background {
  background-color: rgb(53,53,53);
  height: 16px;
  width: 100%;
}

.scrolled {
  display: none;
}


.header__background,
.head {
    transition: opacity 0.3s ease;
}

.header {
  padding: 0%;
}

.head {
  display: flex;

  flex-direction: row;

  column-gap: 4px;
  justify-content: end;

  width: 70%;
  margin: auto;
  height: 15px;
}

a {
  text-decoration: none;
}

.head a {
  color: white;
}





/* -------------- BARRA DE NAVEGACIÓN -------------- */


.header__navbar {
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar {
  display: flex;
  width: 70%;
  margin: auto;
  height: 49.5px;
  align-items: center;

  align-items: stretch;
}

.bloqueDos {
  display: block;
}

.doggiftLogo {
  width: 210px;

  margin-right: auto;
}

/* Opciones del navbar */
.header__navbar--opciones {
  display: flex;

  column-gap: 15px;
  margin: auto;
  align-items: center;
  
}

.header__navbar--opciones i {
  margin: auto;
  
}

.header__navbar--opciones a {
  display: flex;
  align-items: center;
  align-items: stretch;
}

.header__navbar--opciones .header__navbar--opciones--nombre {
  font-size: 12px;
  font-weight: 600;
  margin-left: 1px; 
  margin-top: auto;
  margin-bottom: auto;
}


.header__navbar--opciones img {
  width: 20px;
}

/* Búsqueda y Carrito de compra */
.header__navbar--busqueda {
  display: flex;
  flex-direction: row;

  

  align-items: center;

  row-gap: 12px;
}

.header__navbar--busqueda a {
  margin: 10px;
  align-items: center;
}

.header__navbar--busqueda .fa-magnifying-glass {
  font-size: 15px;
}

.header__navbar--busqueda--lupa {
  display: flex;

  align-items: center;
}

.linea {
  width: 1px; 
  height: 41px; 
  background: radial-gradient(circle, black, white);
  margin: 20px auto; 
}
.lineaHamburguesa {
  width: 1px; 
  height: 41px; 
  background: radial-gradient(circle, black, white);
  margin: 20px auto;
  display: none;
}

.separador {
  display: flex;

  align-items: center;
}
.carrito_contador {
  display: block;
  font-size: 15px;
  font-weight: 700;

  margin-left: 7px;

  color: rgb(219, 115, 21);
}

.fa-cart-shopping {
  font-size: 20px;
}
.carrito_contador_items {
  display: inline;
  font-size: 12px;
  font-weight: 300;

  margin-left: 7px;
}
.carrito_contador_itemsPalabra{
  display: inline;
  font-size: 12px;
  font-weight: 300;

  margin-left: 2px;
}

.hamburguesaMenu {
  display: none;
}

/*Clase que se agrega cuando se da click a la hamburguesa*/

/*Media queries para la hamburguesa del navbar*/

@media (max-width: 950px)
{
  .header__navbar--opciones
  {
    display: none;
  }

  .desplegable {
    display: flex;
    flex-direction: column;
    
    row-gap: 20px;
  
    background-color:  rgb(245, 245, 245);
  
    position: fixed;
  
    inset: 0 0 0 70%;
  
    z-index: 999;
  }

  .navbar {
    margin: auto;
  }
  
  .homeA {
    margin-top: 20px;
  }

  .lineaHamburguesa {
    display: block;
  }

  .hamburguesaMenu {
    display: block;

    width: 30px;
    
    margin: 0px 10px;
  }

  .carrito_contador,
  .carrito_contador_items {
    margin-left: 0px;
  }
  .cantidades {
    
    margin: 0px 10px;
  }

  .header__navbar--busqueda {
    margin-left: auto;
  }

  .header__navbar--busqueda--lupa {
    gap: 5px;
  }
}

@media (max-width: 600px)
{
  .desplegable {
    display: flex;
    flex-direction: column;
    
    row-gap: 20px;
  
    background-color:  rgb(245, 245, 245);
  
    position: fixed;
  
    inset: 0 0 0 70%;
  
    z-index: 999;
  }

  .desplegable .homeA {
    margin-top: 20px;
  }

  .header__navbar--opciones a {
    row-gap: 1px;
  }

  #lupaNavbar {
    display: none;
  }
  #carritoNavbar {
    display: none;
  }
  .linea {
    display: none;
  }
  .cantidades{
    display: none;
  }
  .carrito_contador {
    display: none;
  }
  .carrito_contador_items {
    display: none;
  }
  .carrito_contador_itemsPalabra {
    display: none;
  }
  .lineaHamburguesa {
    display: none;
  }
  .hamburguesaMenu {
    margin-left: auto;
  }

  .navbar {
    margin: auto;
  }

  .hamburguesaMenu {
    display: block;

    width: 30px;
    
    margin: 0px 10px;
  }
}