/* src/componentes/ProductShowcase.css */
.product-showcase {
  background-color: #ffccbc; /* Color naranja claro */
  padding: 40px;
  text-align: center;
}

.product-showcase h2 {
  color: #ff7043;
}

.product {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.product img {
  max-width: 100px;
  height: auto;
}

.product p {
  margin: 10px 0 0;
  color: #ff7043;
}
